NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://web_user:mypassword@localhost:5432/web_clearance
RESEND_API_KEY=re_cMykgwDz_ALffn6sPiLp1EcMEBu2r9PBE
EMAIL_FROM=
JWT_REFRESH_SECRET=scocnocnosdoincsoinsdiosdiods
JWT_SECRET=soivnvosidvusagcuisahalskdd
FRONTEND_URL=

# AWS S3 Configuration for File Uploads
AWS_ACCESS_KEY_ID="your_aws_access_key"
AWS_SECRET_ACCESS_KEY="your_aws_secret_key"
AWS_REGION="us-east-1"
AWS_S3_BUCKET_NAME="web-clearance-bucket"